
body {
    background-color: blanchedalmond;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    float: left;
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #ddd;
    color: black;
}

/* For responsive design */
@media screen and (max-width: 600px) {
    .nav-links li {
        float: none;
        width: 100%;
    }
}
