<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Demo</title>
    <style>
        body {
            background: #333;
            font-family: sans-serif;
            color: white;
            font-size: 2rem;
            border: 2px solid blue;
            padding: 1vw;
        }
        .cool {
            display: inline;
        }
        .cool:hover {
            color: gold;
        }
        .cool:hover::before {
            content: "hi ";
        }
        .cool:hover::after {
            content: " This is CSS THO!"
        }
    </style>
</head>
<body>
<!-- You should add a navbar here to reach css.html, fast_api.html, index.html, notes.html slowdemo.html
        web_development, and webserving-->
<!-- you can use our navbar.html -->
<div class="cool">
    Hello ECE 140A Dojo!
</div>
</body>
</html>