<!-- This should be the navbar here reach back to index css.html, fast_api.html, index.html, notes.html slowdemo.html
        web_development, and webserving-->


<nav class="navbar">
    <ul class="nav-list">
        <li>
            <a href="/" class="nav-links">Home</a>
        </li>
        <li>
            <a href="" class="nav-links"></a>
        </li>
        <li>
            <a href="" class="nav-links"></a>
        </li>
        <li>
            <a href="" class="nav-links"></a>
        </li>
    </ul>
</nav>
