<!DOCTYPE html>
<html>
<head>
    <title>Async vs Non-Async Demo</title>
    <style>
        button {
            margin: 10px;
            padding: 10px;
            font-size: 16px;
        }
        #response {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
        }
        body {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }
    </style>
</head>
<body>
<button id="asyncBtn">Async Call</button>
<button id="nonAsyncBtn">Non-Async Call</button>
<div id="response"></div>
<div id="clock"></div>
<script>
    document.getElementById('asyncBtn').addEventListener('click', async function() {
        const responseDiv = document.getElementById('response');
        responseDiv.innerText = 'Waiting for response...';
        fetch('http://localhost:8000/slowroute')
            .then(response => response.json())
            .then(data => {
                responseDiv.innerText = data.message;
                responseDiv.style.backgroundColor = 'green';
            });
        responseDiv.style.backgroundColor = 'red';
    });
    document.getElementById('nonAsyncBtn').addEventListener('click', async function() {
        const responseDiv = document.getElementById('response');
        responseDiv.innerText = 'Waiting for response...';
        await fetch('http://localhost:8000/slowroute')
            .then(response => response.json())
            .then(data => {
                responseDiv.innerText = data.message;
                responseDiv.style.backgroundColor = 'green';
            });
        responseDiv.style.backgroundColor = 'red';
    });

    let clock = document.querySelector('#clock');
    let i = 0;
    let clockInterval = setInterval(updateClock, 1000);
    function updateClock() {
        clock.innerText = i;
        i += 1;
    }

</script>
</body>
</html>






